#portfoliobody{
    background-color:#f0ebd8ff;

}

#title{

    color: #1d2d44ff;
    text-align: center;
    text-transform: uppercase;
}
.detail {
    color:saddlebrown;
    text-align: center;
    text-transform:capitalize;
    }

#PD {
    background-color: #1d2d44ff;
    text-align: center;
}

#PD h3 {
    color: #f0ebd8ff; 
}

#Education {
    background-color: #1d2d44ff; 
    text-align: center;
}

#Education h3, #Education h4 {
    color: #f0ebd8ff; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#Experience {
    background-color: #f78764ff; 
    text-align: center;
}

#Experience h3 {
    color: #1d2d44ff; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ACH {
    background-color: #f0ebd8ff;
}

#ACH h3 {
    color: #3c91e6ff;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#Bye {
    background-color: rgb(144, 55, 0);
}

#Bye h4 {
    color: blanchedalmond;
    text-align: center;
}

#linkexperience{
    text-decoration: none;
    text-align: center;
}

#linkexperience2{
    text-decoration: none;
    text-align: center;
}
--tufts-blue: #3c91e6ff;
--prussian-blue: #1d2d44ff;
--pacific-cyan: #31afd4ff;
--coral: ;
--eggshell: ;
