body {
    text-align: center;
}
#container {
    height:600px;
    width:600px;
    position: absolute;
    left: 30vw;
    border: 2px solid black;
    display:flex;
    flex-direction: row;
  justify-content: center;
  /*flex-wrap: wrap;*/
  align-items:flex-start;
  /*align-content: flex-start;*/
}
#box1 {
    background-color: aqua;
}
#box2 {
    background-color: chocolate;
   /* height:200px;   
    align-self:flex-end;*/
    flex-shrink: 10;
}
#box3 {
    background-color: darkorchid;
}
#box4 {
    background-color:hotpink;
    flex-grow: 15;
}
#box5 {
    background-color:lightseagreen;
}
div {
    height: 100px;
    width: 100px;
    border:2px solid black;
    display: inline-block;
}
