body {
    text-align: center;
}
#container {
    height:600px;
    width:600px;
    position: absolute;
    left: 30vw;
    border: 2px solid black;
    display:flex;
    flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;
  align-content: center;
}
#box1 {
    background-color: aqua;
}
#box2 {
    background-color: chocolate;
}
#box3 {
    background-color: darkorchid;
}
#box4 {
    background-color:hotpink;
}
#box5 {
    background-color:lightseagreen;
}
div {
    height: 50px;
    width: 150px;
    border:2px solid black;
    display: inline-block;
}
