* {
    padding: 0px;
    margin:0px;
    color: whitesmoke;
}
#navbar {
    height: 60px;
    background-color: #0f1111;

}
button {
    background-color: #f08804;
}
#logo {
    color: #f08804;
    font-size: 25px;
}

a {
    margin-right: 200px;
    text-decoration: none;
    
}

.Contentbox {
    height: 100px;
    width: 100px;
    color: black;
    border: 2px solid black;
    display: inline-block;
}

#Content {
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #0f1111;
    color: white;
    text-align: center;
}